@use "modules/var";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 1rem;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    justify-content: space-between;

    button {
        border: none;
        padding: 1rem;
        background: var.$main-color;
        color: var.$text-color;
    }
}

.dark {
    font-size: 1.6rem;
    background: var.$main-color;
    color: var.$text-color;
}

body {
    @extend .dark;
    background-color: var.$light-main-color;
    color: darken(var.$text-color, 85%);
}

h1 {
    font-size: 1.6rem;
}

.overed {
    @extend .article;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div {
    width: 80%;
    min-height: 30rem;
}

.article {
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    border: 1px solid lightgray;
    display: flex;
    flex-flow: row wrap;

    h1 {
        width: 100%;
        margin: 1rem;
        font-size: 1.8rem;
    }
    p {
        @extend h1;
    }

    img {
        @extend h1;
        max-width: 20rem;
        max-height: 20rem;
    }

    div {
        margin: 1rem;
        padding: 2rem;
        border: none;
        min-width: 100%;
        cursor: pointer;
        background: transparent;
        min-height: 100%;
        position: absolute;
    }
}

.article:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    @extend .article;
}

#showArticle {
    @extend .article;
}

